/* **************************** General page styles   **************************** */

body{
    background-color: rgb(44, 44, 44);
    font-family: serif;
}

.app-header{
    margin: auto;
}

/* Form inputs styles across the app */
.custom-input {
    background-color: rgb(212, 212, 212); /* Change the color value as needed */
    border-radius: 3px; 
    padding: 7px; 
}

.app-font-color{
    color:rgb(201, 201, 201);
}

/* Used in footer and about-app text inserts */
span{
    margin-left: 5px;
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(201, 201, 201);
}

.hidden{
    display:none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-container{
    background-color: rgb(22, 22, 22);;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container img {
    margin: 3px; /* Adjust fine-tune the vertical position */
}

/* **************************** Notification container  **************************** */


#notification {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 10px;
    max-width: 300px;
    background-color: #559455; /* Green background color */
    color: #fff; /* Text color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;
}

#notification.error {
    background-color: #8d4242; /* Red background color for error */
}

/* **************************** Main buttons container  **************************** */

.button-palette {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of buttons */
    justify-content: center; /* Center the buttons */
    margin-top: 5px; /*Add some space above the button palette */
    margin-bottom: 35px;
}

.btn-square {
    width: 100%; /* Make buttons fill the column width */
    height: 150px; /* Set a fixed height for buttons */
    font-size: 20px; /* Increase font size for better readability */
    margin-bottom: 5px; /* Space between rows of buttons */
    /* background-color: #3d84bade; */
}

.btn-primary:hover {
    background-color: #007bff; /* Change to a lighter blue on hover */
    border-color: #007bff; /* Match border color */
}

.key-indicator{
    background-color: #565656;
    color: rgb(255, 255, 255);
    padding: 3px;
    position: relative;
    top: 35px;
    /* border: 1px solid black; */
}

.key-modifier{
    background-color: rgb(80 133 86);
}

/* **************************** Cue edit container   **************************** */

#cue-config-container {
    margin-top: 15px;
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Add some padding inside the border */
    background-color: rgb(31 31 31 / 44%); /* Slightly transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
    border: 1px solid #6b7b6b;
}

#cue-config-header{
    text-align: center;
    margin-top: 0px;
    color:rgb(224, 224, 224);
}


/************************* About app page *************************/

.about-app-title {
    
    margin-bottom: 25px;
    font-family: serif;
    font-size: 22px;
    text-align: center;
    color:rgb(224, 224, 224);
}

#about-app-container{
    display: none;
}

/************************* Modal Styles *************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 20px;
    width: 100%; /* Cover the entire screen */
    height: 100%; /* Cover the entire screen */
    background-color: rgba(0, 0, 0, 0.881); /* Black w/ opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal-content {
    background-color: #483c3c;
    padding: 15px;
    border: 1px solid #49bd41;
    width: 380px; 
    height: 230px;
}

/************************* Vertical strollbars *************************/

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent thumb */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Slightly darker on hover */
  }

/************************* Application-config *************************/


#app-config-div {
    display: flex;
    flex-direction: column;
    height: 92vh; /* Full viewport height */
    width: 100%; /* Full width */
    padding-bottom:30px;
    padding-left: 10px;

}

#app-config-div > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#app-config-div .row.main-content {
    flex: 1; /* Allow main content to take remaining space */
    display: flex;
}

#app-config-div .row.header {
    flex: 0; /* Prevent header from growing */
}

#app-config-div .col-3, #app-config-div .col-9 {
    display: flex;
    flex-direction: column;
}

#app-config-div .tab-content {
    flex: 1;
}

#config-header{
    text-align: center;
    margin-top: 0px;
    color:rgb(224, 224, 224);
    margin-bottom: 25px;
}

/* side vertical menu buttons */
#app-config-div .nav-link.active {
    background-color:#484a4e;
    color: #d9d9d9;
}

#app-config-div .nav-link {
    
    color: #acacac;
}

#config-nav-menu{
    border-right: 1px solid #484a4e;
}

.app-config-btn{
    width: 120px;
    margin-left: 5px;
}